@keyframes vibrar
	0%
		transform rotate(-3deg)
	20%
		transform rotate(3deg)
	40%
		transform rotate(-3deg)
	60%
		transform rotate(3deg)
	80%
		transform rotate(-3deg)
	100%
		transform rotate(0deg)

body 
	margin 0
	
form 
	padding 1em
	text-align center

.button
	background-color #009688
	border-radius 5px
	border none
	display block
	margin auto
	margin-top 1em
	font-weight bold
	font-size 1.5em
	color white
	height 40px
	width 250px

.button:hover
	animation-name: vibrar;
	animation-duration 0.2s
	animation-timing-function ease

.inputs
	border 1px solid #AEAEAF
	border-radius 5px
	font-size 1.5em
	color gray
	height 40px
	margin-top 1em
	margin-right 0.5em
	width 250px
	

.title
	color white
	margin 0

.title-content
	background-color #F48FB1
	padding 2em
	text-align center
	