body{
	margin 0
	font-size 16px
}
h1{
	margin 0
	padding-top 1em
}
input, select{
	border-radius 4px
	background-color white
}
label{
	display block
	
	
}
strong{
	color  white

}
table{
	margin auto
}
ul
{
	list-style none
	margin 0
}
li
{
	display inline
	padding 1em
	-webkit-transform rotate(-70deg)
}
li:hover .a-li-nav
{
	color #455A64
}
a
{
	text-decoration none
}
.tabla_1{
	text-align right 
	margin-bottom 1em
}
.tabla_2{
	text-align right 
	margin-top 1em
}
.tabla_3{
	text-align left 
}
.tabla_4,.tabla_5,.tabla_6,.tabla_7{
	text-align right 
}
.titles{
	background-color #F48FB1
	text-align center
	
}
.Contenedor_Formulario{
	background-color #F48FB1
	padding 20px;
	text-align center
}
.cod_error{
	font-size 8em
	padding-top 0em
}
.cod_error, .error_descript{
	color red
	text-align center
	margin 0
}
.error_descript{
	font-size 2em
}
.a-li-nav
{
	color white
	font-size 1.5em
}
.message
{
	color green
	text-align center
}
.messageError
{
	color red
	text-align center
}
.nav-container
{
	background-color #009688
	padding 1.5em
}
.var_45{
	width 270px
}
.var_46, .var_47,.var_51,.var_52{
	width 50px
}
.var_48{
	width 650px
}
 .var_49{
	width 500px
}
.var_1,.var_2,.var_3,.var_4,.var_5,.var_6,.var_7,.var_8,.var_9,.var_10,.var_11,.var_12,.var_13,.var_14,.var_17,.var_18,.var_19,.var_20,.var_25,.var_26,.var_27,.var_27_1,.var_28,.var_29,.var_30,.var_31,.var_32,.var_33,.var_34,.var_35,.var_36,.var_37,.var_38,.var_39,.var_40,.var_41,.var_42,.var_43,.var_75,.var_76,.var_77,.var_78,.var_79,.var_80,.var_81,.var_81_1,.var_82,.var_83,.var_84,.var_85,.var_86,.var_87,.var_88,.var_95_1,.var_95_2,.var_95_3,.var_95_4,.var_95_5,.var_95_6,.var_95_7,.var_95_8,.var_95_9,.var_95_10,.var_95_11,.var_95_12,.var_95_13,.var_95_14,.var_96,.var_97,.var_98,.var_99,.var_100,.var_101,.var_102,.var_103,.var_104,.var_105,.var_106,.var_107{
	width 150px
}
.var_15,.var_16,.var_17,.var_18,.var_19,.var_44_1,.var_44_2,.var_44_3,.var_44_4,.var_44_5,.var_44_6,.var_44_7,.var_44_8,.var_44_9,.var_44_10,.var_44_11,.var_44_12,.var_44_13,.var_44_14,.var_44_15,.var_44_16,.var_44_17,.var_44_18,.var_44_19,.var_44_20,.var_89,.var_90,.var_91_1,.var_91_2,.var_91_3,.var_91_4,.var_91_5,.var_91_6,.var_91_7,.var_91_8,.var_91_9,.var_91_10,.var_91_11,.var_91_12,.var_91_13,.var_91_14,.var_91_15,.var_91_16,.var_91_17,.var_91_18,.var_91_19,.var_91_20,.var_92,.var_92_1,.var_92_2,.var_92_3,.var_92_4,.var_92_5,.var_93,.var_94{
	width 150px;
}
.var_54,.var_55,.var_21,.var_22,.var_23,.var_53_1,.var_53_2,.var_53_3,.var_53_4,.var_53_5,.var_53_6,.var_53_7,.var_53_8,.var_53_9,.var_53_10,.var_53_11,.var_53_12,.var_53_13,.var_53_14,.var_53_15,.var_53_16,.var_53_17,.var_53_18,.var_53_19,.var_53_20,.var_56,.var_57,.var_58,.var_59,.var_60,.var_61,.var_62,.var_63,.var_64,.var_65,.var_66,.var_67,.var_68,.var_69,.var_70,.var_71,.var_72,.var_73,.var_74{
	width 150px;
}
#Registrador{
	background-color #F50057
	border 1px solid #F50057
}