<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/styles.css">

	<title>Document</title>
</head>
{% endblock %}
<body>
	{% block header %}
<header>
	<h1 class="titles">App 4725</h1>
	<nav class="nav-container">
		<ul>
			<li><a class="a-li-nav" href="/">Inicio</a></li>
			<li><a class="a-li-nav" href="form">Registrar</a></li>
			<li><a class="a-li-nav" href="consult">Exportar</a></li>
		</ul>
	</nav>
</header>
{% endblock %}
{% block message %}{% endblock %}

	{% block form %}{% endblock %}
</body>
<script src="js/jquery.min.js"></script>
<script src="js/main.js"></script>
</html>