<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/logg.css">
</head>
<body>
	<header class="title-content">
		<h1 class="title" >Welcome To App 4725</h1>
	</header>
	<form action="/loggin" method="post">
		<input class="inputs" name="user" type="text" placeholder="Cedula">
		<input class="inputs" name="pass" type="password" placeholder="Contraseña">	
		<input class="button" type="submit" value="Entrar">
	</form>
</body>
</html>