{% extends 'layout.html' %}

{% block header %}
<header>
	<h1 class="titles">{{ user_session }}</h1>
	<nav class="nav-container">
		<ul>
			<li><a class="a-li-nav" href="index">Inicio</a></li>
			<li><a class="a-li-nav" href="form">Registrar</a></li>
			<li><a class="a-li-nav" href="consult">Exportar</a></li>
			<li><a class="a-li-nav" href="loggOut">Salir</a></li>
		</ul>
	</nav>
</header>
{% endblock %}

{% block message %}
<h1 class="message">
	{{ mensaje }}
</h1>
<h1 class="messageError">
	{{ mensajeError }}
</h1>
{% endblock %}